@model ProductModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="my-4">
    <h1 class="">@Model.Title</h1>

    <img class="" src="@Model.ThumbnailLink" height="300" width="300"/>
</div>


<form action="@Url.Action(nameof(OrderController.AddItem), "Order")" method="post">
    <input type="hidden" name="productid" value="@Model.Id" />

    <p class="my-2">Цена: <strong>@Model.Price б.р</strong></p>

    <button class="btn btn-success" type="submit">В корзину</button>
</form>


<div class="my-4">
    <h3 class="">Описание:</h3>

    <p class="table">@Model.Description</p>
</div>


<div class="my-4">
    <h3 class="">Фотографии товара:</h3>
    @foreach (var image in ViewBag.Images)
    {
        <img class="" src="@image.ImgLink" height="200" width="200"/>
    }
</div>


