@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Категории";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table category-edit-table">
@foreach (var item in Model) {
    @if (item.Id == 1) continue;
    <tr>
        <td>
            <form class="form-inline my-2 my-lg-0 ml-auto" action="@Url.Action("CategoryEdit", "Admin")" method="post">
                <input type="hidden" name="categoryId" value="@item.Id"/>
                <input class="form-control mr-ms-2" type="text" name="categoryName" placeholder="Название категории" maxlength="30" value="@Html.DisplayFor(modelItem => item.Name)"/>
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Обновить</button>
            </form>
        </td>
        <td>
            <form class="form-inline my-2 my-lg-0 ml-auto" action="@Url.Action("CategoryDelete", "Admin")" method="post">
                <input type="hidden" name="categoryId" value="@item.Id"/>
                <input type="hidden" name="categoryName" value="@item.Name"/>
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
}
    <tr>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="@Url.Action("CategoryAdd", "Admin")" method="post">
             <td><input class="form-control mr-ms-2" type="text" name="categoryName" placeholder="Название категории" maxlength="30"/></td>
            <td><button class="btn btn-primary btn-info my-2 my-sm-0" type="submit">Добавить</button></td>
        </form>
    </tr>
</table>

