@model  Store.Data.Content.ContactsSO

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-text my-2 my-lg-0 ml-auto" action="@Url.Action("ContactsEdit", "Admin")" method="post">
    <input type="hidden" name="title" value="@Model.Title"/>

    <div class="my-4">
        <h5 class="editor-label">Адрес:</h5>
        <input class="form-control form-text" type="text" name="location" value="@Model.Location" maxlength="100"/>
    </div>

    <div class="my-4">
        <h5 class="editor-label">Время работы:</h5>
        <input class="form-control form-text" type="text" name="worktime" value="@Model.Worktime" maxlength="100"/>
    </div>

    <div class="my-4" id="numbersList">
        <h5 class="editor-label">Телефон:</h5>
        @foreach(var item in Model.Numbers)
        {
            <input class="form-control form-text" type="text" id="numbers" name="numbers" value="@item" maxlength="100"/>
        }
    </div>

    <div class="my-2">
        <button class="btn btn-outline-info" type="button" id="btnAddField" onclick="AddNewField()">Добавить поле</button>
    </div>

    <div class="my-4">
        <h5 class="editor-label">Дополнительная информация:</h5>
        <textarea class="form-control form-text" rows="10" cols="20" name="additional">@Model.Additional</textarea>
    </div>

    <div class="my-4">
        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="ml-5" href="@Url.Action("InfoList", "Admin")">Отменить изменения и вернуться к списку</a>
    </div>
</form>


<script type="text/javascript">
    
    function AddNewField() {
        let containerId = 'numbersList'
        let divElem = document.getElementById(containerId);

        if (divElem.childElementCount < 10) {
            var $numbersList = $('#numbersList');
            $('<input class="form-control form-text" type="text" id="numbers" name="numbers" value="" maxlength="100"/>').appendTo($numbersList);
        }
    }

</script>