@model  Store.Data.Content.DeliverySO

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-text my-2 my-lg-0 ml-auto" action="@Url.Action("DeliveryEdit", "Admin")" method="post">
    <input type="hidden" name="title" value="@Model.Title"/>

    <div class="my-4" id="optionsList">
        <h5 class="editor-label">Способы доставки:</h5>
        @foreach(var item in Model.Options)
        {
            <input class="form-control form-text" type="text" id="options" name="options" value="@item" maxlength="100"/>
        }
    </div>

    <div class="my-2">
        <button class="btn btn-outline-info" type="button" id="btnAddField" onclick="AddNewField()">Добавить поле</button>
    </div>

    <div class="my-4">
        <h5 class="editor-label">Дополнительная информация:</h5>
        <textarea class="form-control form-text" rows="10" cols="20" name="additional">@Model.Additional</textarea>
    </div>

    <div class="my-4">
        <button class="btn btn-success" type="submit">Сохранить</button>
        <a class="ml-5" href="@Url.Action("InfoList", "Admin")">Отменить изменения и вернуться к списку</a>
    </div>
</form>


<script type="text/javascript">
    
    function AddNewField() {
        let containerId = 'optionsList'
        let divElem = document.getElementById(containerId);

        if (divElem.childElementCount < 10) {
            var $optionsList = $('#optionsList');
            $('<input class="form-control form-text" type="text" id="options" name="options" value="" maxlength="100"/>').appendTo($optionsList);
        }
    }

</script>