@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<table class="table">
    <tr>
        <th>
            Номер заказа
        </th>
        <th>
            Номер телефона заказчика
        </th>
        <th>
            Кол-во предметов
        </th>
        <th>
            Сумма
        </th>
    </tr>
</table>

@foreach (var order in Model) {
    <div class="">
        <details>
            <summary class="form-inline">
                <p class="mr-auto">@order.Id</p>
                <p class="mr-auto">@order.CellPhone</p>
                <p class="ml-auto">@order.TotalCount</p>
                <p class="ml-auto">@order.TotalPrice</p>
            </summary>

            <div class="">
                <table class="table">
                    <tr>
                        <td>Корзина:</td>
                        <td>@foreach(var orderItem in order.Items) {<p>@orderItem.Title</p>}</td>
                        <td>@foreach(var orderItem in order.Items) {<p>@orderItem.Count</p>}</td>
                        <td>@foreach(var orderItem in order.Items) {<p>@orderItem.Price</p>}</td>
                    </tr>
                </table>
            </div>
        </details>
    </div>
}
