@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Товары";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header>
    <form class="form-inline my-2 my-lg-0 ml-auto" action="@Url.Action("Search", "Admin")" method="post">
        <input class="form-control mr-ms-2" type="search" name="query" placeholder="Поиск в каталоге"/>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Искать</button>
    </form>
</header>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Категория
        </th>
        <th>
            Цена
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
