@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<table class="table">
    <tr>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
    </tr>

@*@foreach (var item in Model) {
    <tr>
        <td>
            <form action="@Url.Action("ProductEdit", "Admin")" method="post">
                <input type="hidden" name="productId" value="@item.Id"/>
                <input type="hidden" name="categoryId" value="1"/>
                <button class="btn btn-outline-info" type="submit">@item.Title</button>
            </form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <form action="@Url.Action("ProductDelete", "Admin")" method="post">
                <input type="hidden" name="productId" value="@item.Id"/>
                <button class="btn btn-outline-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
}*@

</table>
