@{
    ViewData["Title"] = "Инфо страницы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
        <tr>
            <td>
                <form action="@Url.Action("ContactsInfo", "InfoEdit")" method="post">
                    <button class="btn btn-outline-info" type="submit">Контакты</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="@Url.Action("PaymentInfo", "InfoEdit")" method="post">
                    <button class="btn btn-outline-info" type="submit">Оплата</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="@Url.Action("DeliveryInfo", "InfoEdit")" method="post">
                    <button class="btn btn-outline-info" type="submit">Доставка</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="@Url.Action("AboutInfo", "InfoEdit")" method="post">
                    <button class="btn btn-outline-info" type="submit">О магазине</button>
                </form>
            </td>
        </tr>
</table>
