@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Товары";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>


<div class="form-inline my-4">
    <form class="btn-offset my-2" action="@Url.Action("Product", "Admin")" method="post">
        <input type="hidden" name="categoryId" value="1"/>
        <button class="btn btn-primary btn-info">Добавить товар</button>
    </form>
    
    <form class="form-inline my-2 ml-auto" action="@Url.Action("Search", "Admin")" method="post">
        <input class="form-control" type="search" name="query" placeholder="Поиск в каталоге"/>
        <button class="btn btn-primary" type="submit">Искать</button>
    </form>
</div>


<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Категория
        </th>
        <th>
            Цена
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <form action="@Url.Action("ProductEdit", "Admin")" method="post">
                <input type="hidden" name="productId" value="@item.Id"/>
                <input type="hidden" name="categoryId" value="1"/>
                <button class="btn btn-outline-info" type="submit">@item.Title</button>
            </form>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <form action="@Url.Action("ProductDelete", "Admin")" method="post">
                <input type="hidden" name="productId" value="@item.Id"/>
                <input type="hidden" name="title" value="@item.Title"/>
                <button class="btn btn-outline-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
}

</table>
