@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Товары";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>


<div class="form-inline my-4">
    <form class="btn-offset my-2" action="@Url.Action("Product", "Admin")" method="post">
        <input type="hidden" name="productId" value="0"/>
        <button class="btn btn-primary btn-info">Добавить товар</button>
    </form>
    
    <form class="form-inline my-2 ml-auto" action="@Url.Action("ProductSearch", "Admin")" method="post">
        <input class="form-control" type="search" name="query" placeholder="Поиск в каталоге"/>
        <button class="btn btn-primary" type="submit">Искать</button>
    </form>
</div>


<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Категория
        </th>
        <th>
            Цена
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="">
                <a class="nav-link" href="@Url.Action("Product", "Admin", new { productId=item.Id })">
                    <img class="img-thumbnail my-2 ml-3" src="@item.ThumbnailLink" height="100" width="100"/>
                    <p class="text-info">@item.Title</p>
                </a>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <form action="@Url.Action("ProductDelete", "Admin")" method="post">
                <input type="hidden" name="productId" value="@item.Id"/>
                <input type="hidden" name="title" value="@item.Title"/>
                <button class="btn btn-outline-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
}

</table>
